<button (click)="createNewProduct()">Create</button>
<button (click)="onShowDetail('92148')">Detail not found</button>
<div class="products--grid">
  <app-product
    [product]="product"
    *ngFor="let product of products"
    (addedProduct)="onAddToShoppingCart($event)"
    (showProduct)="onShowDetail($event)"
  ></app-product>
  <button (click)="loadMore()">Load more</button>
</div>

<div class="product-detail" [class.active]="showProductDetail">
  {{ statusDetail }}
  <div *ngIf="productChosen">
    <button (click)="toggleProductDetail()">Close</button>
    <h1>{{ productChosen.title }} </h1>
    <swiper-container>
      <swiper-slide *ngFor="let img of productChosen.images">
        <img [src]="img" alt="">
      </swiper-slide>
    </swiper-container>
    <p>{{ productChosen.description }}</p>
    <button (click)="updateProduct()">Editar</button>
    <button (click)="deleteProduct()">Delete</button>
  </div>
</div>

